11. 14. 	| nlim		| Column density range; sampled linearly
0.05 5.         | ewlim         | Ang; EW range
5. 40.  	| blim		| km/s; Doppler parameter range
300.            | dvlim         | km/s; max offset allowed in components (Boksenberg)
7     		| ndv          	| Number of comopnents (Boksenberg complex break)
1               | flg_dvabs     | normally (1) or uniformly (0) distributed dvabs for components
0               | flg_capn      | force components to have less column than primary; caps ndv
0. 100.  	| dvabs		| km/s; Centroid and width (normal) or allowed component range (uniform)
5               | dndz          | line density
0.3             | frac_rm       | Fraction to clean of original lines
69.             | pixscale      | km/s; SDSS binning
0.              | dvelo         | km/s; median resolution
0               | nabs          | number of absorbers to input
1.46 4.95       | zlim          | redshift range sensitive to CIV (based on S/N >= 4 list)
