summary/targets_radec.lst	| targlist	| 
12.7 14.3	| nlim		| 
5. 25. 		| blim		| km/s
-100. 100.	| dvabs		| km/s
5     		| ndv          	| Number of comopnents
12.7 14.3	| nlimobs	| (Danforth & Shull 2008)
24   		| nabsobs	| (Danforth & Shull 2008)
1.79		| aobs		| +/-0.17 (Danforth & Shull 2008)
2.42		| dzunblck	| (Danforth & Shull 2008)
0.1             | binncolm      | 
0.005           | binz          | 